.Table .ant-table-wrapper {
  margin: 10px;
}

.Table-toolbar {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.Table-toolbar:after {
  content: "";
  display: table;
  clear: both;
}

.Table-toolbar .ant-select {
  margin-left: 10px;
}

.Table-toolbar .SaveButton, .Table-toolbar .DrawerButton {
  float: right;
}

.Table-toolbar .DrawerButton {
  margin-left: 10px;
}

.Table .ant-table-thead th {
  font-size: 0.9em;
  text-align: center;
  background-color: #f5f5f5 !important;
}

.Table .ant-table-row td {
  font-size: 0.9em;
  text-align: center;
  font-family: monospace;
}

.Table .ant-table-body {
  margin: 0 !important;
}

.Table .ant-table td,
.Table .ant-table th {
  white-space: nowrap;
}
