.TableChart .Center {
  margin-top: 50px;
}

.ant-select.TableChart-MetricsSelect {
  float: left;
  margin-top: 10px;
  margin-left: 65px;
  width: 250px;
}

.TableChart .SaveButton {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
