.Chart-toolbox {
  padding: 10px;
  text-align: right;
}

.Chart-toolbox .Checkboxes {
  margin-top: 0;
  display: inline-block;
}

.Chart-toolbox .ant-select {
  width: 110px;
}

.Chart-toolbox .ant-switch {
  margin-left: 10px;
  margin-right: 5px;
}

.Chart-toolbox .ant-divider {
  height: 20px;
  margin-right: 15px
}
