.error-list {
  margin-bottom: 0;
}

.invalid-path {
  margin-bottom: 5px;
}

.invalid-path:last-child {
  margin-bottom: 0;
}

.invalid-path code {
  cursor: pointer;
}

.file-read-complete-success hr {
  border: none;
  height: 1px;
  background: gainsboro;
}
