.Tabs {
  margin: 10px;
}

.Tabs,
.Tabs .ant-tabs,
.Tabs .ant-tabs-content {
  height: 100%;
}

.Tabs .ant-tabs-tabpane {
  height: calc(100% - 60px);
  overflow: auto;
  background: #fff;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.Tabs .ant-tabs-card .ant-tabs-content {
  margin-top: -16px;
}
