.AppInfo .Center {
  margin-top: 10px;
}

.AppInfo .ant-list {
  width: 90%;
}

.AppInfo .ant-list-item-meta-title {
  margin-bottom: 0;
}

.AppInfo .ant-list-item-content {
  justify-content: flex-start;
  flex: 2 1;
}

.AppInfo .anticon {
  margin-right: 7px;
}
