.Checkboxes {
  margin-top: 20px;
}

.Checkboxes .Checkboxes-check-all {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.Checkboxes .ant-checkbox-group-item {
  margin-bottom: 3px;
}
