.CalendarCell {
  font-size: 0.9em;
  font-family: monospace;
  white-space: pre;
}

.CalendarCell-min,
.CalendarCell-mean,
.CalendarCell-max {
  padding-left: 4px;
  padding-right: 4px;
}

.CalendarCell-min {
  /* color: #3455db; */
  background-color: #e6ecff;
}

.CalendarCell-mean {
  background-color: #f2f2f2;
}

.CalendarCell-max {
  background-color: #ffe6e6;
}

.CalendarCell-additional {
  margin-top: 5px;
}

.CalendarCell-missed {
  margin-right: 8px;
  color: #ff6600;
}

.CalendarCell-broken, .CalendarCell-null {
  color: #ff0000;
}

.CalendarCell-row {
  display: flex;
  flex-direction: row;
}

.CalendarCell img {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}
