.Calendar .ant-layout-sider,
.Calendar .ant-layout-content {
  background: #fff;
}

.Calendar .ant-menu {
  height: 100%;
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month,
.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-date {
  background-color: white;
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value,
.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-value {
  color: rgba(0, 0, 0, 0.65);
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-month:hover,
.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-date:hover {
  background-color: white;
  cursor: default;
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-value:hover {
  cursor: default;
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-value:active {
  color: rgba(0, 0, 0, 0.65);
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-disabled-cell .ant-fullcalendar-value:active {
  color: rgba(0, 0, 0, 0.25);
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-last-month-cell .ant-fullcalendar-value:active,
.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-next-month-btn-day .ant-fullcalendar-value:active {
  color: rgba(0, 0, 0, 0.25);
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-disabled-cell .ant-fullcalendar-date,
.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-disabled-cell .ant-fullcalendar-date:hover {
  cursor: default;
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-disabled-cell .ant-fullcalendar-value {
  cursor: default;
}

.Calendar .ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-date {
  border-top-color: #e8e8e8;
}

.Calendar-toolbar {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.Calendar-toolbar:after {
  content: "";
  display: table;
  clear: both;
}

.Calendar-toolbar .SaveButton, .Calendar-toolbar .DrawerButton {
  float: right;
}

.Calendar-toolbar .DrawerButton {
  margin-left: 10px;
}

.Calendar-toolbar .Checkboxes {
  margin-top: 0;
  display: inline-block;
  line-height: 33px;
}
