html, body, #root, #App, .fullscreen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#App {
  background: whitesmoke;
}

code {
  font-size: 0.9em;
  background-color: whitesmoke;
  border-radius: 2px;
  border: 1px solid gainsboro;
  padding: 2px;
}

.ant-popover input {
  width: 300px;
}

.ant-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
